// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom Styles
body {
    color: #ffffff;
}

// HEADER
.header {
    border: 1px solid black;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar {
    position: relative; 
    background-color: #f8f9fa; 
    padding: 0;
}

.navbar-toggler {
    margin: 0;
}

.navbar-nav .nav-link {
    position: relative;
    color: black;
    padding: 1.5rem 1rem;
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px; 
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #0282f9;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }

    &:hover::after,
    &.active::after {
        transform: scaleX(1);
    }
}

.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    height: 40vh;
}

.main-content {
    position: relative;
    padding-top: 40px;
}

.series-badge {
    display: inline-block;
    width: fit-content;
    background-color: #0282f9;
    color: white;
    padding: 12px 24px;
    text-transform: uppercase;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 10;
}

.card {
    border: none;
}

.card-body {
    padding: 0

}

.text-white {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
}

.comic-thumb {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    margin-bottom: 15px;
}

.more-btn {
    background-color: #0282f9;
    color: white;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 40px auto;
}

// Banner
.banner {
    background-color: #0282f9;
}

.banner img {
    width: 60px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.banner span {
    font-size: 0.85rem;
    font-weight: 900;
    text-transform: uppercase;
}


// Media Queries
@media screen and (max-width: 990px) {
    .navbar-nav .nav-link {
        text-align: center;

        &::after {
            bottom: 0;
            transform-origin: left;
        }

    }
}